
.ts-map {
    position: relative;
  }
  
  .ts-map a[href^="http://maps.google.com/maps"]
  {
    display: none !important;
  }
  
  .ts-map a[href^="https://maps.google.com/maps"]
  {
    display: none !important;
  }
  
  .ts-map .gmnoprint a,
  .ts-map .gmnoprint span,
  .ts-map .gm-style-cc {
    display: none;
  }
  
  .ts-map .cluster > div,
  .ts-map .marker-cluster > div {
    background-color: #00f;
    box-shadow: inset 0 0 0 0.375rem rgba(255, 255, 255, 0.3),
      0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    color: #fff !important;
    text-align: center;
    transition: 0.3s ease;
  }
  
  .ts-map .cluster > div:hover,
  .ts-map .cluster > div.ts-hover,
  .ts-map .marker-cluster > div:hover,
  .ts-map .marker-cluster > div.ts-hover {
    box-shadow: inset 0 0 0 0.375rem rgba(255, 255, 255, 0.3),
      0 0.3125rem 1.5625rem rgba(0, 0, 0, 0.5);
  }
  
  .ts-map .marker-cluster > div {
    line-height: 3rem;
    height: 3rem !important;
    width: 3rem !important;
  }
  
  .ts-map .gm-style-mtc > div {
    font-size: 0.75rem !important;
    height: 2rem !important;
    padding: 0 0.75rem !important;
  }
  
  .ts-map__detail {
    height: 18rem;
  }
  
  .ts-contact-map {
    height: 25rem;
  }
  
  .ts-sidebar-map {
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    height: 18rem;
  }
  
  /* =====================================================================================================================
    MARKER
   */
  
  .ts-marker-wrapper {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 2.75rem;
    transform-origin: 0 2.75rem;
    transition: 0.3s ease;
  }
  
  .ts-marker-wrapper.ts-hide-marker {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .leaflet-div-icon {
    background-color: transparent;
    border: none;
  }
  
  .leaflet-marker-icon.ts-hide-marker .ts-marker {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .ts-marker {
    display: inline-block;
    position: relative;
    padding-bottom: 0.5rem;
    transition: 0.6s cubic-bezier(0.16, 0.64, 0.31, 1.68);
    -webkit-transform: translateY(0) rotate(0.002deg);
    transform: translateY(0) rotate(0.002deg);
  }
  
  .ts-marker:hover,
  .ts-marker.ts-hover {
    color: inherit;
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
    z-index: 1;
  }
  
  .ts-marker:hover .ts-marker__title,
  .ts-marker:hover .ts-marker__info,
  .ts-marker.ts-hover .ts-marker__title,
  .ts-marker.ts-hover .ts-marker__info {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .ts-marker:hover .ts-marker__info,
  .ts-marker.ts-hover .ts-marker__info {
    transition-delay: 0.05s;
  }
  
  .ts-marker:hover:before,
  .ts-marker.ts-hover:before {
    -webkit-transform: translateY(0.25rem) scaleX(0.8);
    transform: translateY(0.25rem) scaleX(0.8);
    opacity: 0.2;
  }
  
  .ts-marker:after {
    border-color: #191919 transparent transparent transparent;
    border-width: 0.375rem 0.375rem 0 0;
    border-style: solid;
    bottom: 0.1875rem;
    content: "";
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .ts-marker:before {
    content: url("../img/marker-shadow.png");
    bottom: -0.375rem;
    left: -0.0625rem;
    position: absolute;
    opacity: 0.8;
    transition: 0.6s cubic-bezier(0.16, 0.64, 0.31, 1.68);
    -webkit-transform: translateY(0) scaleX(1);
    transform: translateY(0) scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  
  .ts-marker .ts-marker__title,
  .ts-marker .ts-marker__info {
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    position: absolute;
    font-size: 0.6875rem;
    font-weight: 500;
    left: 0.25rem;
    white-space: nowrap;
    border-radius: 0.0625rem;
    pointer-events: none;
    padding: 0.0625rem 0.25rem;
    transition: 0.5s cubic-bezier(0.03, 0.18, 0.05, 1.01);
    -webkit-transform: translateX(0.25rem);
    transform: translateX(0.25rem);
    opacity: 0;
  }
  
  .ts-marker .ts-marker__title {
    background-color: #fff;
    top: 0.25rem;
    z-index: 2;
  }
  
  .ts-marker .ts-marker__info {
    background-color: #00f;
    color: #fff;
    top: 1.25rem;
    z-index: 1;
  }
  
  .ts-marker .ts-marker__feature {
    top: -0.625rem;
    left: -0.625rem;
    position: absolute;
    z-index: 3;
  }
  
  .ts-marker .ts-marker__feature > * {
    background-color: #00f;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #fff;
    font-size: 0.5rem;
    width: 1.375rem;
    text-align: center;
    height: 1.375rem;
    line-height: 1.375rem;
  }
  
  .ts-marker .ts-marker__image {
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 0.125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    height: 2.625rem;
    width: 2.625rem;
    position: relative;
  }
  
  .ts-marker .ts-marker__image:before {
    border-bottom-right-radius: 0.125rem;
  }
  
  .ts-marker-hide {
    opacity: 0.2;
  }
  
  /* =====================================================================================================================
    INFOBOX
   */
  
  .infobox-wrapper {
    transition: 0.3s transform cubic-bezier(0.51, 0.31, 0.28, 1.16);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  
  .infobox-wrapper > img {
    display: none;
  }
  
  .infobox-wrapper.ts-show {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .infobox-wrapper.ts-show .ts-infobox .ts-close {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    transition-delay: 0.15s;
  }
  
  .infobox-wrapper.ts-show .ts-infobox .ts-close:hover {
    transition-delay: 0s;
    opacity: 1;
  }
  
  .leaflet-popup {
    margin-bottom: 0;
  }
  
  .leaflet-popup .leaflet-popup-content-wrapper {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  
  .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
  }
  
  .leaflet-popup .leaflet-popup-tip-container {
    display: none;
  }
  
  .ts-infobox {
    display: inline-block;
    position: relative;
  }
  
  .ts-infobox:after {
    border-color: #191919 transparent transparent transparent;
    border-width: 0.5rem 0.5rem 0 0;
    border-style: solid;
    bottom: -0.375rem;
    content: "";
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .ts-infobox .ts-ribbon {
    right: 1.5rem;
  }
  
  .ts-infobox .ts-ribbon-corner:before {
    left: 1.5625rem;
  }
  
  .ts-infobox .ts-ribbon-corner:after {
    bottom: 1.5625rem;
  }
  
  .ts-infobox .badge {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    z-index: 1;
  }
  
  .ts-infobox .ts-infobox__wrapper {
    align-items: flex-end;
    color: #fff;
    display: flex;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5);
    height: 14rem;
    overflow: hidden;
    width: 15rem;
    padding: 0.75rem;
    position: relative;
    z-index: 1;
  }
  
  .ts-infobox .ts-infobox__wrapper:before {
    height: 70%;
    z-index: 1;
  }
  
  .ts-infobox .ts-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: 3;
    -webkit-filter: drop-shadow(0 0.1875rem 0.125rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0.1875rem 0.125rem rgba(0, 0, 0, 0.2));
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transform: scale(0) rotate(180deg);
    transform: scale(0) rotate(180deg);
    opacity: 0.7;
  }
  
  .ts-infobox .ts-infobox_image {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  
  .ts-infobox .ts-infobox__content {
    z-index: 1;
    width: 100%;
  }
  
  .ts-infobox .ts-item__info {
    margin-bottom: 0.5rem;
  }
  
  .ts-infobox .ts-item__info h4 {
    text-shadow: 0 0.125rem 0.1875rem rgba(25, 25, 25, 0.8);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.375rem;
  }
  
  .ts-infobox .ts-item__info aside {
    font-size: 0.75rem;
    opacity: 0.7;
  }
  
  .ts-infobox .ts-item__info-badge {
    display: inline-block;
    background-color: #00f;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 0.1875rem;
    font-weight: 500;
    font-size: 0.6875rem;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0.375rem;
  }
  
  .ts-infobox .ts-description-lists {
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.4);
    padding-top: 0.5rem;
  }
  
  .ts-infobox .ts-description-lists dl {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
  
  .ts-infobox .ts-description-lists dt {
    font-size: 0.6875rem;
    opacity: 0.5;
  }
  
  .ts-infobox .ts-description-lists dd {
    font-size: 0.6875rem;
    margin-bottom: 0;
  }
  
  .H_ui * {
    box-sizing: border-box;
  }
  
  .H_ib_tail {
    display: none;
  }
  
  .H_ib_body {
    background-color: transparent;
    padding: 0;
  }
  
  .H_ib_body .H_ib_close {
    display: none;
  }
  
  .H_ib_body .H_ib_content {
    margin: 0;
  }
  
  .H_ib_body .infobox-wrapper {
    bottom: 0;
    left: 6.25rem;
    position: absolute;
  }
  
  .here-map-marker .ts-marker-wrapper {
    margin-top: -3rem;
    position: relative;
  }
  
  @-webkit-keyframes ts-dimIn {
    0% {
      width: 0;
    }
  
    1% {
      width: 100%;
    }
  
    5% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.6;
    }
  }
  
  @keyframes ts-dimIn {
    0% {
      width: 0;
    }
  
    1% {
      width: 100%;
    }
  
    5% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.6;
    }
  }
  
  @-webkit-keyframes ts-dimOut {
    0% {
      opacity: 0.6;
    }
  
    95% {
      opacity: 0;
    }
  
    99% {
      width: 100%;
    }
  
    100% {
      width: 0;
    }
  }
  
  @keyframes ts-dimOut {
    0% {
      opacity: 0.6;
    }
  
    95% {
      opacity: 0;
    }
  
    99% {
      width: 100%;
    }
  
    100% {
      width: 0;
    }
  }
  
  #ts-map-hero {
    transition: 0.3s ease;
  }
  
  #ts-map-hero.leaflet-container:after {
    z-index: 401;
  }
  
  #ts-map-hero:after {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: ts-dimOut;
    animation-name: ts-dimOut;
    background-color: black;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity 0.4s ease;
    opacity: 0;
  }
  
  #ts-map-hero.ts-dim-map:after {
    -webkit-animation-name: ts-dimIn;
    animation-name: ts-dimIn;
    /*opacity: .6;
        height: 100%;
        width: 100%;*/
  }
  a {
    cursor: pointer;
  }